* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  font-family: cabin;
}

p {
  font-size: 1.6rem;
  line-height: 1.1;
  padding: 2rem 0;
}

/******NAVBAR******/
nav {
  background-color: white;
  font-family: Raleway;
  width: 100%;
}

nav a {
  color: black;
  text-decoration: none;
}

nav img {
  margin-left: 2.2rem;
  width: 8rem;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 900;
  list-style: none;
  padding: 2.2rem;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #ED2F80;
}

/******General info******/
.container img {
  height: 17.3rem;
  width: 27.4rem;
}

.img2 {
  width: 36rem;
}

.intro {
  background: linear-gradient(to bottom, #ED2F80, #2F80ED);
  color: #fff;
}

.grid, .grid1 {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 auto;
  width: 95%;
}

.grid1 {
  margin: 8rem auto 16rem auto;
}

.avatar, .general-info {
  grid-column: 1;
}

.avatar {
  background: url(../images/avatar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 12rem;
  margin: 3rem auto 1.5rem auto;
  width: 12rem;
}

h1 {
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 900;
}

h3 {
  font-weight: 600;
  font-size: 1.7rem;
}

.general-info p {
  padding-bottom: 4.3rem;
  width: 95%;
}
/******FOOTER******/
footer {
  background-color: #212121;
  color: #FFFFFF;
  font-family: Raleway;   /******MOBILE******/
  margin-bottom: 0;
  padding: 2rem;
}

.footer-content {
  margin: auto;
  text-align: center; /******MOBILE******/
}

.footer-content div {
  display: inline-block;    /******MOBILE******/
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer ul {
  margin-bottom: 1rem;    /******MOBILE******/
  padding: .5rem;
}

footer ul li {
  display: inline;    /******MOBILE******/
  padding: 1rem;
}

.credit {
  font-size: 1.3rem;    /******MOBILE******/
}

/****************TABLET SIZE****************/
@media screen and (min-width: 768px) {
  /******NAVBAR******/
  .nav-content {
    margin: 0 auto;
    width: 80%;
  }

  nav ul li {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.8rem;
  }
  /******General info******/
  .container img {
    height: 30rem;
    width: 38rem;
  }

  .img2 {
    width: 72rem;
  }

 .intro {
   padding: 5rem 0;
 }

 .grid {
   background-color: lightblue;
   grid-gap: 5rem;
   grid-template-columns: 3fr 9fr;
   grid-template-areas:
       "avatar   general-info";
 }

 .grid1 {
   width: 30%;
 }

.avatar {
 background-color: black;
 border-radius: 50%;
 grid-area: avatar;
 height: 25rem;
 width: 25rem;
}

.general-info {
 background-color: pink;
 grid-area: general-info;
 margin: 0 auto;
 padding-right: 5rem;
 padding-top: 2rem;
 }

 h1 {
 font-size: 3.6rem;
 }

 h3 {
 font-size: 2rem;
 }

  /******FOOTER******/
  .footer-content {
    display: block;
  }

}

/****************DESKTOP****************/
@media screen and (min-width: 1200px) {
  /******FOOTER******/


}
