/******FOOTER******/
footer {
  background-color: #212121;
  color: #FFFFFF;
  font-family: Raleway;
  margin: auto;
  padding: 2rem;
}

.intouch {
  margin: auto;
  text-align: center;
  width: 40%;
}

.intouch span {
  display: inline-block;
  font-size: 2rem;
  margin: .5rem auto;
  padding-bottom: 1rem;
}

footer ul {
  margin-bottom: 1rem;
  padding: .5rem;
}

footer ul li {
  display: inline;
  padding: 1rem;
}

.credit {
  font-size: 1.3rem;
}
