* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFF;
  font-family: Cabin;           /******MOBILE******/
  font-size: 1.6rem;
}

.grid-bg {
  background-color: #F9F9F9;
  width: 100%;
}

.nav-bar, .grid1, .grid2, .hover-box, .grid4, .styleGuide, .probsol {
  /******border: 1px solid black; ****/
  display: grid;              /******MOBILE******/
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 90%;
}


.grid2, .grid4 {
  line-height: .7cm;
  text-align: center;
  padding: 0 1rem;
}

section {
  /*****margin: 5.6rem auto;              *MOBILE******/
  /***border: 1px solid black;****/
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
}

.probsol, .competitors, .personas, .takeaway1, .userStories, .visualDesign, .styleGuide, .v2, .v3, .finish, .added {
 padding: 0;
}

.competitors, .personas, .userStories {
  padding-top: 2.2rem;
}

.probsol, .phases, .takeaway1, .grid4-content, .download-style, .book {
  padding-bottom: 2.2rem;
}

h2, h3 {
  font-family: Montserrat;
  font-weight: bold;
  line-height: .8cm;
  text-align: center;
}

h2 {
  color: #2F80ED;
  font-size: 2.6rem;            /******MOBILE******/
  margin-bottom: 2.2rem;
}

h3 {
  color: #2D9CDB;
  font-size: 2.4rem;
  margin-bottom: 2.2rem;
}

h4 {
  font-size: 2.2rem;
}

h6 {
  font-size: 1.6rem;
  font-weight: 900;
}

.bold, .bold-prob, .bold-sol {
  font-weight: 900;
}

.link a, .download a, .download-style a {
  color: #ED2F80;
  font-weight: 900;           /******MOBILE******/
}

.link, .download, .download-style {
  margin: 2.2rem auto 0 auto;
  text-align: center;
}

.discRe p, .survey, .competitors, .userStories, .usabilityTests,
.brandingID, .style, .hifi, .secondIteration, .usabilityTests2, .lesson {
  text-align: left;           /******MOBILE******/
}

hr {
  border: .2rem solid #2F80ED;    /******MOBILE******/
  margin-bottom: 2.2rem;
  width: 10rem;
}

.last, .competitors, .personas, footer, .theProcess, .visualDesign, .mindMapping, .final-title h3 {
  padding-bottom: 0;
}
/******NAVBAR******/
nav {
  background-color: white;
  display: inline-block;      /******MOBILE******/
  font-family: Raleway;
  padding: 1rem;
}

nav a {
  color: black;
  text-decoration: none;
}

nav img {
  display: inline-block;
  float: left;
  padding: 1rem;
  width: 8rem;
}

nav ul {                  /******MOBILE******/
  float: right;
}

nav ul li {
  display: inline-block;
  font-family: Raleway;
  font-size: 1.4rem;
  font-weight: 900;           /******MOBILE******/
  list-style: none;
  padding: 2.2rem;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #ED2F80;
}


/******HERO******/
.hero-background {
  background: linear-gradient(rgba(	33, 212, 253, 0.6),rgba(59, 88, 252, 0.6)),
  url(../images/cloud.jpg);
  background-repeat: no-repeat;           /******MOBILE******/
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding: 0;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr;   /******MOBILE******/
  padding-bottom: 9.2rem;
  padding-top: 3.2rem;
}

.left-content {
  background-repeat: no-repeat;   /******MOBILE******/
  height: 100%;
  width: 100%;
}

.right-content {
  color: white;
  font-size: 2.8rem;
  font-weight: 900;
  margin: 0 auto;
  padding-top: 3rem;
}

.summary {
  line-height: 1.2cm;
  margin-bottom: 3rem;
}

.button {
  background-color: #ED2F80;    /******MOBILE******/
  border-radius: 5rem;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.45rem;
  text-decoration: none;
  width: 22rem;
}

#myBtn {
  background-color: #ED2F80;
  border: none;
  border-radius: .5rem;
  bottom: .3rem;
  color: white;
  cursor: pointer;
  display: none;
  font-size: 1.6rem;
  outline: none;
  padding: 1.5rem;
  position: fixed;
  right: 30px;
  z-index: 1;
}


.button:hover, #myBtn:hover {
  background-color: #fff;
  border: 2px solid #ED2F80;
  color: #ED2F80;
}

/******what is virtBox******/
.rolesTools {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 2.2rem auto 0;
}

.title1, .title2 {
  font-weight: 900;             /******MOBILE******/
  margin-bottom: 2rem;
}

.roles {
  border-right: 1px solid black;
}

/******overview******/
.probsol {
  border: 1px solid black;
  display: grid;                   /******MOBILE******/
  grid-template-columns: 1fr;
}

.probsol ul {
  margin: auto 0;
}

.solscr {
  width: 100%;
}

.probsol ul li {
  border: 1px solid black;
  line-height: .6cm;
  margin: auto auto auto 0;
}

.probsol1, .probsol1-g2, .probsol2, .probsol2-g2, .probsol3, .probsol3-g2 {          /******MOBILE******/
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 9fr;
  list-style-type: none;
  text-align: left;
}

.probsol1-g2, .probsol2-g2, .probsol3-g2 {
  margin-top: 1rem;
}

.prob {
  margin: auto auto auto 0;
}

.sad, .happy {
  display: inline-block;
  height: 3.6rem;
  margin-bottom: .3rem;
  vertical-align: middle;     /******MOBILE******/
  width: 3.6rem;
}


.bold-prob {
  color: #EB5757;       /******MOBILE******/
}

.bold-sol {
  color: #2D9CDB;
}
/******PHASES PROCESS******/
.phases {
  background-color: #F9F9F9;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;   /******MOBILE******/
  margin: 0 auto;
  padding-top: 0;
  width: 90%;
}

.phases ul li {
  list-style-type: disc;
  text-align: left;           /******MOBILE******/
}

.phase1, .phase2, .phase3, .phase4 {
  background-color: white;
  border-radius: 1rem;
  padding: 5rem;              /******MOBILE******/
}

.phase1 {
  border: .3rem solid #F2994A;
}

.phase2 {
  border: .3rem solid #F2C94C;      /******MOBILE******/
}

.phase3 {
  border: .3rem solid #27AE60;
}

.phase4 {
  border: .3rem solid #2F80ED;    /******MOBILE******/
}

.title {
  border: 1px solid black;
  height: 7rem;           /******MOBILE******/
  margin: 2rem auto;
}

/******USER SURVEY******/
.data {
  border: 1px solid black;
  background-color: #D9DFFE;        /******MOBILE******/
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 2.2rem auto;
  padding: 3rem;
}

h4 {
  font-weight: 900;
  margin-bottom: 1rem;            /******MOBILE******/
}

.data ul li p{
  height: 7rem;
       /******MOBILE******/
  text-align: center;
}

.data-content {
  border: 1px solid black;
  height: 8.5rem;               /******MOBILE******/
  margin-bottom: 1rem;
  overflow: hidden;
}

.last {
  height: 8.5rem;
  margin-bottom: 0;
}

.survey {                   /******MOBILE******/
  list-style-type: disc;
}


/******COMPETITORS******/
.analysis {
  display: grid;
  grid-gap: 3rem;         /******MOBILE******/
  grid-template-columns: 1fr;
}

.logo-container {
  margin-bottom: 1rem;
  text-align: center;     /******MOBILE******/
}

.logo-container img {
  height: 15rem;
  width: auto;          /******MOBILE******/
}

.takeaway1 {
  margin: 2.2rem auto 0 auto;
  padding-top: 0;       /******MOBILE******/
  text-align: left;
}

.takeaway1 p, .takeaway1 ul {
  padding-top: 1.1rem;      /******MOBILE******/
}

.takeaway1 ul li {
  list-style: disc outside;
}

.button {
  font-size: 1.8rem;  /******MOBILE******/
  padding: 1.5rem 3rem;
}
/******PERSONAS******/
.col {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2.2rem auto 0 auto;        /******MOBILE******/
  text-align: left;
  width: 100%;
}

.persona1, .persona2, .persona3 {
  border: 1px solid black;
  padding: 4.3rem;          /******MOBILE******/

}

.persona1, .persona3 {
  background-color: #FAFBFB;
}

.avatar1, .avatar2, .avatar3 {
    border-radius: 50%;
    height: 13rem;
    margin: 0 auto;
    width: 13rem;
  }

.col ul li {
  list-style-type: disc;
}

.name, .quote {
  font-weight: 900;           /******MOBILE******/
  text-align: center;
}

.name {
  font-size: 2.4rem;        /******MOBILE******/
  margin-top: 2rem;
}

.quote {
  color: #00C853;         /******MOBILE******/
  margin: 1rem auto;
}

/******USER FLOWS******/
.extend {
  background: url('../images/sharing.png');
  margin-bottom: 2.2rem;
  padding: 12rem 0;
}

.hover-content {
  background-color: #fff;
  border-radius: .5rem;
  padding: 2.2rem 3.8rem;   /******MOBILE*****/
}

/******SKETCHES******/
.mockupSketches {         /******MOBILE*****/
  background: url('../images/sketches.jpg');
}

.digitalSketches {                /******MOBILE*****/
  background: url('../images/digitalSketches.png');
}

.mockupSketches, .digitalSketches {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 17.3rem 0;     /******MOBILE*****/
}

/******USABILITY TESTS******/
.usabilityTests h6 {
  padding-top: 3.3rem;
}

.usabilityTests ul{
  list-style-type: disc;
}

/******LOGO SKETCHES MINDMAPPING******/
.mindMapping {
  background: url('../images/mindmapping.jpg') no-repeat;
  background-size: cover;
  padding: 17.3rem 0;     /******MOBILE*****/
}

/******STYLE GUIDE******/
.styleGuide img, .v2 img{
  height: auto;            /******MOBILE******/
  width: 100%;
}

.styleGruide img {
  border: 1px solid black;
}

/******HIFI1******/
.hifi1 {
  background: url('../images/hifiv1.png') no-repeat;
  background-size: cover;       /******MOBILE******/
  padding: 17.3rem 0;
}

/******2nd ITERATION******/
.secondIteration ul {
  list-style: disc outside;
}

.v2, .v3, .finish, .added {
  display: grid;
  grid-template-columns: 1fr;
}

.v2 img, .v3 img, .v2, .v3, .finish, .added  {
  width: 100%;
}

.v2 img {
  height: auto;            /******MOBILE******/
}

.final {
  padding-top: 0;
}

.finish img, .added img, .finish {
  margin: 0 auto;
  width: 80%;
}

.added {
  width: 100%;
}

.book {
  text-align: center;
}

/******FOOTER******/
footer {
  background-color: #212121;
  color: #FFFFFF;
  font-family: Raleway;   /******MOBILE******/
  padding: 2rem;
}

.footer-content {
  margin: auto;
  padding: 0;
  text-align: center; /******MOBILE******/
}

.footer-content div {
  display: inline-block;    /******MOBILE******/
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer ul {
  margin-bottom: 1rem;    /******MOBILE******/
  padding: .5rem;
}

footer ul li {
  display: inline;    /******MOBILE******/
  padding: 1rem;
}

.credit {
  font-size: 1.3rem;    /******MOBILE******/
}
/****************TABLET SIZE****************/
@media screen and (min-width: 768px) {
  body {
  font-size: 1.8rem;
  }

  .nav-bar, .grid1, .grid2, .hover-box, .grid4 {
    width: 90%;
  }

  hr {                                    /******TABLET******/
    margin-bottom: 5.35rem;
  }

   .grid2, .hover-box, .grid4 {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;  /******TABLET******/
  }

    .grid2 {
    grid-template-areas:
    ".                nav-bar           ."
    ".                whatIs            ."
    ".                overview          ."
    "probsol          probsol           probsol"
    "theProcess       theProcess        theProcess"
    "phases           phases            phases"
    ".                discRe            ."
    "competitors      competitors       competitors"
    ".                takeaway1         ."
    "personas         personas          personas"   /******TABLET******/
    ".                takeaway2         ."
    ".                userStories       ."        /******TABLET******/
    "mockups          mockups           mockups"
    ".                usabilityTests    ."
    ".                logoSketches      ."
    "mindMapping      mindMapping       mingMapping"
    ".                brandingID        ."
    ".                style             ."
    ".                hifi              ."
    "figma            figma             figma"
    ".                testings          ."
    ".                secondIteration   ."
    ".                thirdIteration    ."
    ".                usabilityTests2   ."
    "final-title     final-title      final-title"
    ".                final             ."
    ".                added             ."
    ".                lesson            .";
     padding: 0;
  }

  section {
    padding-bottom: 5.35rem;
    padding-top: 5.35rem;                   /******TABLET******/
  }

  .competitors, .personas, .userStories {
    padding-top: 5.35rem;
  }

  .probsol, .takeaway1, .download-style {
    padding-bottom: 5.35rem;
  }


  h2 {
    font-size: 3rem;    /******TABLET******/
    margin-bottom: 4.4rem;
  }

  h3 {
    font-size: 2.6rem;    /******TABLET******/
    margin-bottom: 4.4rem;
  }

  h4 {
     font-size: 2.4rem;
   }

  h6 {
    font-size: 1.8rem;
  }
/******NAVBAR******/
.nav-bar {
  grid-area: nav-bar;
}

nav ul li {
  font-size: 1.8rem;     /******TABLET******/
}


  /******HERO******/
  .grid1 {
    display: grid;            /******TABLET******/
    grid-template-columns: 2fr 1fr;
    padding-top: 8.5rem;
  }

  .right-content {            /******TABLET******/
    font-size: 4rem;
    margin: 0 auto;
  }

  .summary {
    line-height: 1.7cm
  }

  .button {
    font-size: 2rem;  /******TABLET******/
    padding: 1.5rem 3rem;
    width: 26rem;
  }

   /******WHAT IS SECTION*****/
    .whatIs {
      grid-area: whatIs;    /******TABLET******/
    }

    .rolesTools {
      margin: 4.3rem auto 0 auto;
    }

/******overview******/
    .overview {
    grid-area: overview;
  }

  .probsol {
    width: 60%;
  }

  /******PHASES PROCESS******/
  .theProcess {
    grid-area: theProcess;      /******TABLET******/
  }

  .phases {
    grid-area: phases;
    grid-template-columns: 1fr 1fr ;
    margin-bottom: 5.35rem;
    padding-top: 0;
    width: 100%;
  }

  .title {
    height: 5rem;           /******MOBILE******/
  }

  /******USER SURVEY******/
  .discRe {
    grid-area: discRe;
  }

  .data-content {
    border: 1px solid black;
    height:;               /******TABLET******/
  }

  .last {
    height: 8.5rem;
  }

  .competitors {
    grid-area: competitors;     /******TABLET******/
  }

  /******COMPETITORS******/
  .analysis {
    grid-gap: 1rem;             /******TABLET******/
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }

  .logo-container{
    margin-bottom: 2rem;
  }

  .takeaway1 {
    grid-area: takeaway1;         /******TABLET******/
  }
  /******PERSONAS******/
  .personas {
    grid-area: personas;
  }

  .col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4.6rem auto 0 auto;
    width: 100%;
  }

  .persona1, .persona2, .persona3 {
    padding: 4.3rem;
  }

  .avatar1, .avatar2, .avatar3 {
      height: 15rem;
      width: 15rem;
    }

  .name {
    font-size: 2.4rem;
    margin-top: 3rem;
  }

  .quote {
    margin: 2rem auto;
  }

  .takeaway2 {
    grid-area: takeaway2;
  }
  .userStories {
    grid-area: userStories;     /******TABLET******/
  }

  /******USER FLOWS******/
  .extend, .mindMapping, .hifi1 {
    padding: 18rem 0;                     /******TABLET******/
  }

    .extend {
      margin-bottom: 5.35rem;
    }

   .hover-box {
     grid-template-areas: ".      hoverContent      .";
   }

   .hover-content {
     padding: 4rem 3.8rem;          /******TABLET******/
     grid-area: hoverContent;
   }

/******VISUAL DESIGN******/
  .grid4 {
    grid-template-areas: ".      grid4Content      .";
  }

  .grid4-content {
    grid-area: grid4Content;
  }

  .mockupSketches, .digitalSketches {
    padding: 18rem 0;
  }

  .usabilityTests {
    grid-area: usabilityTests;    /******TABLET******/
  }

  .logoSketches {
    grid-area: logoSketches;
  }

  .mindMapping {
    grid-area: mingMapping;   /******TABLET******/
  }

  .brandingID {
    grid-area: brandingID;
  }

  /******STYLE GUIDE******/
  .style {
    grid-area: style;       /******TABLET******/
  }

  .styleGuide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .hifi {
    grid-area: hifi;    /******TABLET******/
  }

  .testings {
    grid-area: testings;
  }

  .secondIteration {
    grid-area: secondIteration; /******TABLET******/
  }

  .v2 {
    margin: 0 auto;
  }

  .thirdIteration {
    grid-area: thirdIteration;
  }

   /******3rd ITERATION******/
  .v3, .finish {
    grid-template-columns: 1fr 1fr;
  }

  .usabilityTests2 {
    grid-area: usabilityTests2; /******TABLET******/
  }

  .final {
    grid-area: final;
  }

  .finish {
    border: 1px solid black;
    grid-area: finish;    /******TABLET******/
  }

  .finish1, .finish2 {
    border: 1px solid black;
  }


  .added {
    grid-area: added;
    margin: 0 auto;     /******TABLET******/
    width: 80%;
  }

  .lesson {
    grid-area: lesson;
  }

  .final-title {
    grid-area: final-title;
    padding-bottom: 0;
  }

  .book img {
  }

  /******FOOTER******/
  .footer-content {     /******TABLET******/
    display: block;
  }

 }
/****************DESKTOP****************/
@media screen and (min-width: 1000px) {
  /****************HERO****************/

  .nav-bar, .grid1, .grid2, .hover-box, .grid4, .probsol {
    width: 80%;
  }

    .probsol {
    /*****border: 1px solid black;******/
    display: grid;               /******DESKTOP******/
    grid-area: probsol;
    grid-gap 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .prob{
    margin-top: 2rem;     /******DESKTOP******/
  }

  .sol {
    margin-bottom: 2rem;
  }

  /******PHASES PROCESS******/
  .phases {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .phase1, .phase2, .phase3, .phase4 {        /******DESKTOP******/
    padding: 3rem 4rem;
  }

  .phase1 ul, .phase2 ul, .phase3 ul {
  }

  /******SURVEY******/
  .data-content {
  }

  .last {
    height: 6.2rem;       /******DESKTOP******/
    margin-bottom: 0;
  }

  .title {
    height: 7.2rem;           /******DESKTOP******/
  }
  /******PERSONAS******/
  .personas {
    grid-area: personas;
  }

  .styleGuide {
    width: 70%;         /******DESKTOP******/
  }

  /******2nd ITERATION******/
  .v2 {
    grid-template-columns: 1fr 1fr;
  }

}
